/* varbles */
:root {
  --colorPincipal: #f3f5fc;
  --colorSecundario: #0a3871;
  --colorTerciario: #fff;
}

/* selector */
* {
  background: var(--colorPincipal);
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  box-sizing: border-box;
}

/* body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}

/* logo */
.logo {
  position: relative;
  left: 40px;
  top: 20px;
  width: 5%;
}

/* main */
main {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  height: 90%;
}

/* areaTexto */
.area-encriptar {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* textoEntrada */
.text-area {
  color: var(--colorSecundario);
  border: none;
  resize: none;
  text-transform: lowercase;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  padding: 5% 4% 0 4%;
  width: 99%;
  height: 90%;
}

::placeholder {
  color: var(--colorSecundario);
}
.text-area:focus {
  outline: none;
}

.text-area::-webkit-scrollbar {
  width: 0.5rem;
}

.text-area::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 2.5rem rgb(10, 56, 113);
}

/* informacion */
.informacion {
  display: flex;
  justify-content: center;
  width: 95%;
}

.informacion img {
  height: 0.8125rem;
  margin-right: 4px;
}
/* clase botones */
.botones {
  border: 0.0625rem solid var(--colorSecundario);
  border-radius: 1.125rem;
  cursor: pointer;
}
/* botonoes del aera encriptar */
.btns-area-encriptar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 10%;
}

#btn-encriptar,
#btn-desencriptar {
  height: 70%;
  width: 48%;
}

/* boton encriptar */
#btn-encriptar {
  background-color: var(--colorSecundario);
  color: var(--colorTerciario);
}

/* boto desencriptar */
#btn-desencriptar {
  color: var(--colorSecundario);
}

/* zona desencriptar */
.area-desencriptar {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 0.5rem;
  background: var(--colorTerciario);
  border-radius: 1.25rem;
  box-shadow: 30px 0px 35px 0px rgba(10, 56, 113, 0.709);
}

/* zona mensaje */
.mensaje {
  background: var(--colorTerciario);
  color: #495057;
  border: none;
  resize: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 4% 5%;
  width: 100%;
  height: 90%;
  background-image: url(../imagenes/no_mensaje.png);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* oculta fondo de mensaje */
.ocultar-bg {
  background-image: none;
}

.mensaje:focus {
  outline: none;
}

.mensaje::-webkit-scrollbar {
  width: 8px;
}

.mensaje::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 40px rgb(10, 56, 113);
}

.btns-area-desencriptar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--colorTerciario);
  width: 100%;
  height: 15%;
  font-size: 1.2rem;
}

#copiar,
#limpiar {
  color: var(--colorSecundario);
  width: 60%;
  height: 40%;
}

#limpiar {
  background-color: var(--colorSecundario);
  color: var(--colorTerciario);
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
}

.redes ul,
a {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.redes p {
  color: #000;
  font-size: 1.2rem;
  background: none;
}

.redes img {
  width: 70%;
}

@media (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    width: 90vw;
    height: 90vh;
    gap: 15px;
  }
  .logo {
    left: 15px;
    width: 7%;
  }
  .area-encriptar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 50%;
  }

  .text-area {
    text-transform: lowercase;
    width: 90%;
    margin-bottom: 15px;
  }

  .informacion {
    display: flex;
    width: 100%;
    height: 7%;
    font-size: 0.9rem;
  }

  .btns-area-encriptar {
    justify-content: center;
    gap: 0.625rem;
    width: 70%;
  }

  #btn-encriptar,
  #btn-desencriptar {
    width: 35%;
    height: 100%;
  }

  .area-desencriptar {
    display: flex;
    align-items: center;
    width: 85%;
    height: 50%;
  }

  .btns-area-desencriptar {
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem;
    width: 80%;
  }

  .mensaje {
    text-transform: lowercase;
    width: 80%;
    margin-bottom: 15px;
    background-size: 50%;
    background-position: center center;
  }

  #copiar,
  #limpiar {
    width: 30%;
    height: 70%;
  }

  #limpiar {
    width: 30%;
    height: 70%;
  }

  .redes {
    height: 5%;
  }

  .redes p {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .logo {
    left: 15px;
    width: 8%;
  }
  .mensaje {
    background-size: 50%;
  }
  .redes img {
    width: 65%;
  }
}

@media (max-width: 579px) {
  main {
    width: 98%;
    height: 98%;
  }
  .logo {
    left: 15px;
    width: 9%;
  }
  .btns-area-encriptar {
    width: 80%;
  }
  .mensaje {
    background-size: 65%;
  }
}

@media (max-width: 455px) {
  .logo {
    left: 15px;
    width: 11%;
  }
  .btns-area-encriptar {
    width: 80%;
  }
  .mensaje {
    background-size: 90%;
  }
}

@media (max-width: 405px) {
  .logo {
    left: 15px;
  }
  main {
    width: 98%;
    height: 98%;
  }
  .text-area,
  .mensaje {
    font-size: 1.1rem;
  }
  .informacion h6,
  .redes p {
    font-size: 0.8rem;
  }
  .btns-area-encriptar button {
    font-size: 70%;
  }
  #btn-encriptar,
  #btn-desencriptar {
    width: 45%;
    height: 100%;
  }
}

@media (max-width: 290px) {
  .logo {
    left: 15px;
  }
  .text-area,
  .mensaje {
    font-size: 1rem;
  }
  .informacion h6 {
    font-size: 0.7rem;
  }
  .btns-area-encriptar {
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 98%;
  }
  .btns-area-encriptar button {
    font-size: 0.75rem;
  }
  #copiar,
  #limpiar {
    width: 45%;
    height: 50%;
  }
  .redes {
    width: 100%;
  }
  .redes p {
    font-size: 0.65rem;
  }
  .redes img {
    width: 50%;
  }
}

@media (max-width: 260px) {
  .logo {
    left: 10px;
    top: 15px;
    width: 12%;
  }
  .tex-area,
  .mensaje {
    width: 100%;
  }
  .btns-area-encriptar button {
    font-size: 65%;
  }
  .area-encriptar h6 {
    font-size: 60%;
  }
}
