*{
  background: #F3F5FC;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;  
}

.logo{
  display: flex;  
  margin: 0.625rem 0.625rem;
  width: 5%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  gap: 4rem;
  width: 95vw;
  height: 77vh;
  box-sizing: border-box;
}

.area-encriptar{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 30%;
}

.text-area{  
  color: #0A3871;
  border: none;
  resize: none;
  text-transform: lowercase;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  padding: 1.5rem 1rem 0 1.5rem;
  width: 99%;
  height: 80%;
  box-sizing: border-box;
}

::placeholder{ color: #0A3871;}
.text-area:focus{
  outline: none;
}

.text-area::-webkit-scrollbar{
  width: 0.5rem;
}

.text-area::-webkit-scrollbar-thumb{
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 2.5rem rgb(10, 56, 113)
}

.informacion{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 2.625rem;
  font-size: 1rem;
}

.informacion img{
  height: 0.8125rem;
  
}

.btns-area-encriptar{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 10%;
  /* font-size: 1.2rem; */
}

.btn-encriptar{
  background-color: #0A3871;
  border: 0.0625rem solid #0A3871;
  border-radius: 1.125rem;
  color: #FFF;
  cursor: pointer;
  height: 70%;
  width: 48%;
  
}

.btn-desencriptar{
  border: 0.0625rem solid #0A3871;
  border-radius: 1.125rem;
  color: #0A3871;
  cursor: pointer;
  height: 70%;
  width: 48%;
}

.area-desencriptar{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 25%;
  background: #FFF;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.625rem 1.5625rem -0.1875rem rgba(10, 56, 113, 0.709);
  
}

.mensaje{
  background: #FFF;
  color: #495057;
  border: none;
  resize: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  width: 100%;
  height: 85%;
  box-sizing: border-box;
  background-image: url(imagenes/no_mensaje.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.ocultar-bg{
  background-image: none;
}

.mensaje:focus{
  outline: none;
}

.mensaje::-webkit-scrollbar{
  width: 8px;
}

.mensaje::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 40px rgb(10, 56, 113)
}

.btns-area-desencriptar{
  display: flex;
  flex-direction: column;
  margin: 0.625rem auto;
  background: #FFF;
  gap: 0.625rem;
  width: 75%;
  height: 15%;
  font-size: 1.2rem;
}

.copiar{
  border: 0.0625rem solid #0A3871;
  border-radius: 1.125rem;
  color: #0A3871;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.limpiar{
  background-color: #0A3871;
  border: 0.0625rem solid #0A3871;
  border-radius: 1.125rem;
  color: #FFF;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.redes{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 10vh;
}

.redes ul, a{
  display: flex;
  justify-content: center;
  gap: 0.625rem;  
}

.redes p{  
  color: #000;
  font-size: 1.2rem;
}